body {
    position: relative;
    padding: cRems(80px) cRems(60px) 0;
    overflow-x: hidden; //Keep floating text from creating scroll bars
    animation: fadein 1s, transform 0.7s;
    min-height: 100vh;

    @include desktop {
        padding: cRems(70px) cRems(80px);

        @media only screen and (min-width : 1100px) {
            padding: cRems(90px) cRems(120px);
        }
    }
}

main {
    @include desktop {
        width: cRems(460px);
    }
}

footer {
    @extend .base-text;

    width: 100%;
    text-align: center;
    font-family: "Courier New", monospace;
    font-weight: normal;
    padding: cRems(10px);
    margin-top: cRems(50px);
    color: #777;
    overflow: hidden;

    @include desktop {
        margin-top: cRems(20px);

        //When the image doesn't run into the content
        @media only screen and (min-width : 850px) {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}